<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <title>Register</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm bg-light">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" th:href="@{/employee/all}">Data</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/employee/show}">Daftar</a></li>
        </ul>
    </nav>
    <div class="card">
        <div class="card-header bg-primary text-white text-center">
            <h2>Pendaftaran Pegawai</h2>
        </div>
        <div class="card-body">
            <form method="post" th:action="@{/employee/register}">
                Nama Lengkap : <input type="text" name="empName" class="form-control">
                Jenis Kelamin: <input type="radio" value="Pria" name="empGen">Pria
                <input type="radio" value="Wanita" name="empGen">Wanita <br>
                Email: <input type="text" name="email" class="form-control">
                Posisi : <select class="form-control" name="empDept">
                <option value="">-select-</option>
                <option value="Software Developer">Software Developer</option>
                <option value="Web Developer">Web Developer</option>
                <option value="Database Administrator">Database Administrator</option>
                <option value="Hardware Engineer">Hardware Engineer</option>
                <option value="Information Security Analyst">Information Security Analyst</option>
                <option value="IT Support">IT Support</option>
                <option value="System Manager">System Manager</option>

            </select> Tanggal Lahir : <input type="date" name="empDoj" class="form-control" />
                Alamat : <input type="text" name="adress" class="form-control">
                <input
                        type="submit" value="register" class="btn btn-outline-success">

            </form>
        </div>
    </div>
</div>
</body>
</html>